.form {
  width: 80%;
  margin: 60px auto 0;
}

.form span {
  font-size: 25px;
  margin-right: 20px;
}

.form input {
  margin-right: 30px;
}

.form button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: green;
  color: white;
}

.validacion {
  width: 80%;
  color: red;
  margin: 0 auto;
}

.lista {
  width: 80%;
  margin: 50px auto 0;
}

.tarea {
  font-size: 20px;
  margin: 20px 0 15px 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.spn-editar,
.spn-borrar {
  cursor: pointer;
}
